extends layout

block content
  h1= title
  p Welcome to Tejaswi Avula #{title}
  button(type="button", class="btn btn-success" onclick="method()") Press Me
  div#target
  script.
    var client = 0
    function method(){
      client++
      console.log(client)
      document.getElementById("target").innerHTML = "Value now " +client;
    }

